.board {
    display: grid;
    grid-template-rows: repeat(8, 50px);
    grid-template-columns: repeat(8, 50px);
    gap: 1px;
    margin: 20px auto;
    border: 2px solid #000;
    width: fit-content;
}

.reset {
    text-align: center;
}

.resetButton {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px 20px;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    border-radius: 10px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.resetButton:hover {
    background-color: rgba(255, 118, 72, 0.8);
    transform: scale(1.1);
}

.exitButtonContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 20px;
    max-width: 40%;
    margin-left: 30%;
}

.exitButton {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.exitButton span {
    margin-left: 10px;
}

.exitButton:hover {
    background-color: rgba(255, 180, 120, 0.8);
    transform: scale(1.1);
}

.exitButtonEnd {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px 20px;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    border-radius: 10px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.exitButtonEnd:hover {
    background-color: rgba(255, 118, 72, 0.8);
    transform: scale(1.1);
}

.leaderboardButton {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px 20px;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    border-radius: 10px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.leaderboardButton:hover {
    background-color: rgba(255, 118, 72, 0.8);
    transform: scale(1.1);
}

.input-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.input-container input {
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(90deg, #ff7e5f, #feb47b); /* Плавный градиент, как у кнопок */
    border: none;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    width: 80%; /* Настроить ширину под ваш интерфейс */
    max-width: 300px;
    text-align: center;
}

.input-container input::placeholder {
    color: rgba(255, 255, 255, 0.8); /* Бледный белый для placeholder */
}

.input-container input:focus {
    background-color: rgba(255, 118, 72, 0.8);
    transform: scale(1.05);
}
