.cell {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    font-size: 24px;
}

.cell.queen {
    background-color: lightblue;
}

.cell.under-attack {
    background-color: rgb(251, 115, 138);
}

.queen-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.queen-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.white {
    background-color: #f0d9b5;
}

.black {
    background-color: #b58863;
}
